{% extends 'base.html.twig' %}
{% block title %}
Bloggy
{% endblock title %}
{% block header %}
    <nav>
        <ul>
            <img src="{{ asset('img/flip.png') }}" alt="flip" class="resp">
            <li> <a href="{{ path("home") }}">Home</a></li>
            <li> <a href="{{ path("categories") }}">Category</a></li>
            <li> <a href="{{ path("Aboutus") }}">About Us</a></li>
            <li> <a href="{{ path("Legals") }}">Legals</a></li>
        </ul>
    </nav>
{% endblock header %}
{% block main %}
    {% for category in category %}
        <article>
            <h1>{{ category.title }}</h1>
            <p>{{ category.content }}</p>
            <p>{{ category.id }}</p>
            <p>{{ category.published }}</p>
        </article>
    {% endfor %}
{% endblock main %}
{% block footer %}
    <h1>GoodBye Article Show</h1>
{% endblock footer %}
